<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.mondo.collaboration.security.lens.uniqueIDSchemeFactory">
      <id-scheme
            scheme-factory-class="org.mondo.wt.cstudy.lens.UniqueIdSchemeFactory">
      </id-scheme>
   </extension>

</plugin>
